USE [master]
GO
/****** Object:  Database [DBPetNex]    Script Date: 6/12/2023 09:14:20 ******/
CREATE DATABASE [DBPetNex]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBPetNex', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBPetNex.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBPetNex_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBPetNex_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBPetNex].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBPetNex]
GO
/****** Object:  User [alumno]    Script Date: 6/12/2023 09:14:20 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[ComentariosFeed]    Script Date: 6/12/2023 09:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComentariosFeed](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PostFeedID] [int] NULL,
	[Comentario] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComentariosHistoria]    Script Date: 6/12/2023 09:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComentariosHistoria](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PostHistoriaID] [int] NULL,
	[Comentario] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComentariosReel]    Script Date: 6/12/2023 09:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComentariosReel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PostReelID] [int] NULL,
	[Comentario] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 6/12/2023 09:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionEvento] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 6/12/2023 09:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NULL,
	[Imagen1] [varchar](max) NULL,
	[Imagen2] [varchar](max) NULL,
	[Imagen3] [varchar](max) NULL,
	[Imagen4] [varchar](max) NULL,
	[Imagen5] [varchar](max) NULL,
	[Imagen6] [varchar](max) NULL,
	[Imagen7] [varchar](max) NULL,
	[Imagen8] [varchar](max) NULL,
	[Imagen9] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostsEventos]    Script Date: 6/12/2023 09:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostsEventos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NULL,
	[Imagen] [varchar](max) NULL,
	[Descripcion] [text] NULL,
	[ContadorLikes] [int] NULL,
	[EventoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostsFeed]    Script Date: 6/12/2023 09:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostsFeed](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NULL,
	[Imagen] [varchar](max) NULL,
	[Descripcion] [text] NULL,
	[ContadorLikes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostsHistoria]    Script Date: 6/12/2023 09:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostsHistoria](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NULL,
	[Gif] [varchar](max) NULL,
	[ContadorLikes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostsReel]    Script Date: 6/12/2023 09:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostsReel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NULL,
	[Imagen] [varchar](max) NULL,
	[ContadorLikes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 6/12/2023 09:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
	[Contraseña] [varchar](255) NULL,
	[Mail] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PostsFeed] ON 

INSERT [dbo].[PostsFeed] ([ID], [UsuarioID], [Imagen], [Descripcion], [ContadorLikes]) VALUES (1, 1, N'https://www.purina.es/sites/default/files/2022-02/Contacta169_0%20%281%29%20%281%29.jpg', N'jajaxd', NULL)
INSERT [dbo].[PostsFeed] ([ID], [UsuarioID], [Imagen], [Descripcion], [ContadorLikes]) VALUES (2, 3, N'https://images.hola.com/imagenes/mascotas/20200413165436/gato-bombay-caracteristicas-lb/0-810-166/gato-bombay-caracteristicas-t.jpg?tx=w_1200', N'gatico', 5)
SET IDENTITY_INSERT [dbo].[PostsFeed] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [Nombre], [Contraseña], [Mail]) VALUES (1, N'Santi', N'queseyo', N'queseyo@gmail.com')
INSERT [dbo].[Usuarios] ([ID], [Nombre], [Contraseña], [Mail]) VALUES (2, N'Binker', N'momazo', N'momazosbinker@gmail.com')
INSERT [dbo].[Usuarios] ([ID], [Nombre], [Contraseña], [Mail]) VALUES (3, N'pepe', N'oa', N'momazosbinker@gmail.com')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[ComentariosFeed]  WITH CHECK ADD FOREIGN KEY([PostFeedID])
REFERENCES [dbo].[PostsFeed] ([ID])
GO
ALTER TABLE [dbo].[ComentariosHistoria]  WITH CHECK ADD FOREIGN KEY([PostHistoriaID])
REFERENCES [dbo].[PostsHistoria] ([ID])
GO
ALTER TABLE [dbo].[ComentariosReel]  WITH CHECK ADD FOREIGN KEY([PostReelID])
REFERENCES [dbo].[PostsReel] ([ID])
GO
ALTER TABLE [dbo].[Perfil]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([ID])
GO
ALTER TABLE [dbo].[PostsEventos]  WITH CHECK ADD FOREIGN KEY([EventoID])
REFERENCES [dbo].[Eventos] ([ID])
GO
ALTER TABLE [dbo].[PostsEventos]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([ID])
GO
ALTER TABLE [dbo].[PostsFeed]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([ID])
GO
ALTER TABLE [dbo].[PostsHistoria]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([ID])
GO
ALTER TABLE [dbo].[PostsReel]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[Login-Usuario]    Script Date: 6/12/2023 09:14:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Login-Usuario]
	(
		@sp_Nombre nvarchar(500),
		@sp_Contraseña nvarchar(500)
	)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT [ID]
		,[Nombre]
		,[Contraseña]
	FROM [dbo].[Usuarios]
	WHERE Nombre = @sp_Nombre AND Contraseña = @sp_Contraseña
END
GO
/****** Object:  StoredProcedure [dbo].[Registrar-Usuario]    Script Date: 6/12/2023 09:14:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Registrar-Usuario]
	(
		@Nombre nvarchar(500),
		@Contraseña nvarchar(500),
		@Correo nvarchar(500)
	)
AS
BEGIN
	SET NOCOUNT ON;
INSERT INTO [dbo].[Usuarios]
           ([Nombre]
           ,[Contraseña]
           ,[Mail])
     VALUES
           (@Nombre,
		   @Contraseña,
		   @Correo)
END
GO
USE [master]
GO
