@{
    ViewData["Title"] = "Log In";
}
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<div class="a">

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfjuobV5LGwB-GythGeAaIoJMf14MvApa2Vg&usqp=CAU" 
width="65%" height="10%">

<br>

<input type="text" name="username" class="user" placeholder="Nombre de usuario o E-mail" required>

<br>

<input required type="text" name="password" class="user" placeholder="Contraseña">

<br><br>

<button type="button" class="btn">Log In</button>

<br><br>


<br><br>

<span class="y">¿Olvidaste la contraseña?</span>

</div>

<div class ="b">

<span>¿No tenes una cuenta?</span>
        <b>Registrarse</b>
</div>

<br>

<div class="c">Descarga la app para android.</div>
<p align="center"> <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_android_english-en.png/e9cd846dc748.png" class="d"> <p>

<nav>
    <a href="">Lorem ipsum</a>
    <a href="">Lorem ipsum</a>
    <a href="">Lorem ipsum</a>
    <a href="">Lorem ipsum</a>
    <a href="">Lorem ipsum</a>
    <a href="">Lorem ipsum</a>
    <a href="">Lorem ipsum</a>
</nav>
