<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="feed">
    <div class="header">
        <div class="profile">
            <img src="user_pic.jpg" alt="User Pic">
            <div class="user-info">
                <span>User Name</span>
                <span>Location</span>
            </div>
        </div>
        <button>Edit Profile</button>
    </div>
    <div class="container">
        <div class="post">
            <img src="post_pic.jpg" alt="Post Pic">
            <div class="post-info">
                <span>Caption</span>
                <span>Time</span>
            </div>
        </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>