<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="wwwroot\css\styles.css">
</head>
<body class="feed">
 <div class="feed">
  <div class="post" ng-repeat="post in posts">
    <img src="{{post.image}}" alt="{{post.title}}">
    <h3>{{post.title}}</h3>
    <p>{{post.description}}</p>
  </div>
</div>
<script src="scripts.js"></script>
</body>
</html>