@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Topodiario - Apellido</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    </head>
    <body style="background-color: #130758;">
<div class="bloques">
<div class="bloque1">
<form method="post" Action='@Url.Action("Registro","Home")'>
    <div class="Titulo">
        Registro
    </div>
    <div class="Usuario">
        <h2>Usuario</h2>
        <input type="text" class="inputlogin" name="Nombre" required></input>
    </div>
    <div class="Usuario">
        <h2>Contraseña</h2>
        <input type="password" class="inputlogin" name="Contraseña" required></input>
    </div>
    <div class="Usuario">
        <h2>Correo Electronico.</h2>
        <input type="text" class="inputlogin" name="Mail"  required></input>@* /* cambiar el name="codigo"*/ *@
    </div>
        <button class="inicio" type="submit">Registrarse</button>
</form>
</div>
    <div class="bloque2">
        <h2 style="font-size: 60px;">PetNex</h2>
        <img class="imagen-index" src="https://v1.padlet.pics/1/image.webp?t=c_limit%2Cdpr_1%2Ch_963%2Cw_963&url=https%3A%2F%2Fstorage.googleapis.com%2Fpadlet-uploads%2F2198869603%2F63fad61353e0ea069726f6c652830bbe%2FPetNex2_0.jpg%3FExpires%3D1701859939%26GoogleAccessId%3D778043051564-q79bsd8mc40b0bl82ikkrtc3jdofe4dg%2540developer.gserviceaccount.com%26Signature%3DwYYEMv9lv7TFwhHh%252B1%252FAIo0%252FyeB5l3DSYRRoQXsrC8qFWK1J1bJrICZ1tT01nxkc7sW675RoAEZUZOFmrcsWF3JQTf0Fl9yVVkVLqYHg5LOdJiCozP25bNzkyogUIzji%252BqsdktGbqlranSeioLHd%252FYkB5vKmB68O9hF8EUrUdZ0%253D%26original-url%3Dhttps%253A%252F%252Fpadlet-uploads.storage.googleapis.com%252F2198869603%252F63fad61353e0ea069726f6c652830bbe%252FPetNex2_0.jpg"></img>
    </div>
</div>
</body>