html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 20px 60px 0px 20px;
}

.feed {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.post {
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
}

.post img {
  width: 100%;
  height: auto;
}

.post h3 {
  margin-top: 10px;
  font-size: 18px;
}

.post p {
  margin-top: 10px;
  font-size: 16px;
}

@media (max-width: 576px) {
  .feed {
    flex-direction: row;
  }

  .post {
    margin-bottom: 10px;
    width: 100%;
  }
}